/* here you can put your own css to customize and override the theme */
.loading {    
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

#product_id span{
	width: 200px !important;
}

label {
	padding: 0 5px;
}

.page-header.navbar {
	background: #1d3a58 !important;
}

.nav.navbar-nav li a{
	color: #fff !important;
}

.nav.navbar-nav li a:hover{
	color: #000 !important;
}
.dropdown:hover {
	color: #000 !important;
}
#mydiv .col-md-4 {
	width: 33%;
	/*border: 1px solid #000;*/
	float: left;
}
#product {
	text-align: center;
}

#mydiv .col-md-6 {
	width: 50%;
	float: left;
}
.oprn_box {
	border: 1px solid #000;
	padding: 2px;
	width: 16%;
	float: left;
	margin: 1px;
	overflow: hidden !important;
}

.oprn_box span{
	font-size: 10px;
	    white-space: nowrap;
	    overflow: hidden !important;
}

.oprn_code {
	border: 1px solid #000;
	padding: 1px;
	padding-left: 5px;
	width: 33%;
	float: left;
	height: 57px;
}

.oprn_code span{
	font-size: 10px;
}

.oprn_code span:hover {
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.oprn_code span:active {
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing
}